<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>
<body>
    <button onclick="openGooglePopup()">구글 계정</button>
    <button onclick="openKakaoPopup()">카카오 계정</button>
    <button onclick="openNaverPopup()">네이버 계정</button>
</body>
</html>

<script type="text/javascript">
    function openGooglePopup(){
    }

    function openKakaoPopup(){
    }

    function openNaverPopup(){
    }
</script>